/*Common CSS START*/
.slick-dots li.slick-active button:hover {
  color: #1e73be; }
  .slick-dots li.slick-active button::before {
    color: #1e73be; }

.navyblue-bg {
  background-color: #1e73be;
  color: #fcfcfc; }

.yellow {
  color: #8224e3; }

.yellow-bg {
  background-color: #8224e3; }

.primary {
  color: #1e73be; }

.primary-bg {
  background-color: #1e73be; }

.dark {
  color: #353535; }

.light-blue {
  color: ; }

.white {
  color: #fcfcfc; }

.dark-bg {
  background-color: #353535;
  color: #fcfcfc; }

.white-bg {
  background-color: #fcfcfc; }

.light-blue-bg {
  background-color: ; }

.editor-design blockquote {
  border-left: 2px solid #1e73be; }

.inner-banner-section h1 {
  color: #fcfcfc; }

body {
  color: rgba(53, 53, 53, 0.8); }

h1 {
  color: #353535; }

h2 {
  color: #353535; }

h6 {
  color: #d1d1d1; }

.btn, .btn-secondary, .button {
  background-color: #8224e3;
  color: #fcfcfc;
  border-color: #8224e3; }
  .btn.btn-outline-navyblue, .btn-secondary.btn-outline-navyblue, .button.btn-outline-navyblue {
    color: #8224e3;
    border-color: #8224e3;
    border: 1px solid #8224e3;
    background-color: transparent; }
    .btn.btn-outline-navyblue:hover, .btn-secondary.btn-outline-navyblue:hover, .button.btn-outline-navyblue:hover {
      background-color: #8224e3;
      color: #353535;
      border-color: #8224e3; }
  .btn:hover, .btn-secondary:hover, .button:hover {
    background-color: #1e73be;
    color: #fcfcfc;
    border-color: #1e73be; }

.yellow-btn, .button {
  background-color: #8224e3;
  color: #353535;
  border-color: #8224e3; }
  .yellow-btn:hover, .button:hover {
    background-color: #1e73be;
    color: #fcfcfc;
    border-color: #1e73be; }

.dark-blue {
  background-color: #1e73be;
  color: #fcfcfc;
  border-color: #1e73be; }
  .dark-blue:hover {
    background-color: #8224e3;
    color: #353535;
    border-color: #8224e3; }

.top-nav {
  background-color: #1e73be;
  color: #fcfcfc; }
  .top-nav .container .client-area-wrap button#dropdownMenuButton1 {
    background: transparent;
    color: #8224e3;
    border: 0; }
    .top-nav .container .client-area-wrap ul {
      box-shadow: -1px 1px 7px 3px rgba(53, 53, 53, 0.12);
      background-color: #fcfcfc; }
      .top-nav .container .client-area-wrap ul li a {
        color: #353535; }
        .top-nav .container .client-area-wrap ul li a:hover {
          color: #fcfcfc;
          background-color: #1e73be; }
    .top-nav .container .social-icons ul li a {
      color: #fcfcfc; }
    .top-nav .container .social-icons ul li a:hover {
      color: #353535; }
    .top-nav .container .social-icons ul li a i {
      color: #fcfcfc; }
      .top-nav .container .social-icons ul li a i:hover {
        color: #353535; }
    .top-nav .container .social-icons ul li a svg {
      fill: #fcfcfc; }
      .top-nav .container .social-icons ul li a svg:hover {
        fill: #353535; }
    .top-nav .container .header-contact ul li a {
      color: #fcfcfc; }
      .top-nav .container .header-contact ul li a i {
        color: #fcfcfc; }
      .top-nav .container .header-contact ul li a:hover {
        color: #353535; }
        .top-nav .container .header-contact ul li a:hover i {
          color: #353535; }
  .top-nav .social-icons ul li a {
    color: #fcfcfc; }
    .top-nav .social-icons ul li a:hover {
      color: #353535; }

header.fixed {
  background: #fcfcfc; }
  header button:hover {
    background: transparent; }

@media (max-width: 991px) {
    .navbar-dark .navbar-collapse {
      background-color: #1e73be; }
      .navbar-dark .navbar-collapse .btn {
        background-color: #fcfcfc;
        color: #353535;
        border-color: #fcfcfc; } }
  .navbar-dark .navbar-nav .nav-item .nav-link {
    color: #eaeaea; }
    @media (max-width: 991px) {
      .navbar-dark .navbar-nav .nav-item .nav-link {
        color: #fcfcfc; } }
    .navbar-dark .navbar-nav .nav-item .nav-link:hover {
      color: #1e73be; }
    @media (max-width: 991px) {
      .navbar-dark .navbar-nav .nav-item .nav-link:hover {
        color: #8224e3; } }
    .navbar-dark .navbar-nav .nav-item:hover .nav-link::after {
      color: #1e73be; }
    .navbar-dark .navbar-nav .current-menu-item.nav-item .nav-link {
      color: #1e73be; }
    .navbar-dark .navbar-nav .current-menu-item.nav-item .nav-link::after {
      color: #1e73be; }
    @media (max-width: 991px) {
      .navbar-dark .navbar-nav .current-menu-item.nav-item .nav-link {
        color: #fcfcfc; }
        .navbar-dark .navbar-nav .current-menu-item.nav-item .nav-link::after {
          color: #fcfcfc; } }
    @media (max-width: 991px) {
      .navbar-dark .navbar-nav .menu-item-has-children .arrow-icon:after {
        color: #fcfcfc; } }
    @media (max-width: 992px) {
      .navbar-dark .navbar-nav .current-menu-item.menu-item-has-children .arrow-icon:after {
        color: #fcfcfc; } }
  @media (max-width: 991px) {
    .navbar-dark .dropdown-menu {
      border: 0px;
      border-left: 0;
      border-right: 0;
      background-color: #1e73be; } }
    .navbar-dark .dropdown-menu .nav-item .dropdown-item {
      color: #eaeaea; }
    @media (max-width: 991px) {
      .navbar-dark .dropdown-menu .nav-item .dropdown-item {
        color: #fcfcfc; } }
    .navbar-dark .dropdown-menu .nav-item .dropdown-item:hover {
      color: #1e73be;
      background: #1e73be;
      color: #fcfcfc; }
    .navbar-dark .dropdown-menu .current-menu-item.nav-item a {
      color: #fcfcfc;
      background-color: #1e73be; }
    @media (max-width: 991px) {
      .navbar-dark .dropdown-menu .current-menu-item.nav-item a {
        color: #fcfcfc; } }
  .navbar-dark .dropdown-toggle::after {
    color: #eaeaea; }
  .navbar-dark .navbar-toggler .navbar-toggler-icon::before, .navbar-dark .navbar-toggler .navbar-toggler-icon::after {
    background: #eaeaea; }

.footer-wrap .footer-content p {
  color: rgba(53, 53, 53, 0.8); }
  .footer-wrap nav li a, .footer-wrap nav li span {
    color: rgba(53, 53, 53, 0.8); }
    .footer-wrap nav li a:hover, .footer-wrap nav li span:hover {
      color: #1e73be; }
  .footer-wrap h5 {
    color: #353535; }
  .footer-wrap .contact-details ul li i {
    color: #1e73be; }
    .footer-wrap .contact-details ul li a i, .footer-wrap .contact-details ul li span i {
      color: #1e73be; }
  .footer-wrap .social-icons ul li a svg {
    fill: #1e73be; }
    .footer-wrap .social-icons ul li a svg:hover {
      fill: #353535; }
    .footer-wrap .social-icons ul li a i {
      color: #1e73be; }
    .footer-wrap .social-icons ul li a i:hover {
      color: #353535; }

.social-wrap .container {
  border-top: 1px solid rgba(53, 53, 53, 0.14); }
  .social-wrap .container ul li a {
    color: #d45252; }
  .social-wrap .container ul li a:hover {
    color: #1e73be; }
  .social-wrap .container .copyright-wrap {
    color: rgba(53, 53, 53, 0.8); }

nav.contact-details ul li a:hover {
  color: #1e73be; }

.video-wrap i.fa {
  color: #8224e3; }

.video-wrap:before {
  background: rgba(53, 53, 53, 0.50); }

.page-not-found h1 {
  color: #1e73be; }

.no-results .page-header h1 {
  color: #1e73be; }
  .no-results .search-form .input-group .submit {
    color: #fcfcfc;
    background-color: #1e73be; }
  .no-results .search-form .input-group .submit:hover, .no-results .search-form .input-group .submit:focus {
    background-color: #353535;
    color: #fcfcfc; }

.search-results .page-header .page-title {
  color: #d1d1d1; }
  .search-results h2.entry-title a {
    color: #1e73be; }
  .search-results h2.entry-title a:hover, .search-results h2.entry-title a:focus {
    color: #d1d1d1; }
  .search-results article {
    border-bottom: 1px solid #353535; }
  .search-results article .btn {
    background-color: #353535;
    color: #fcfcfc;
    border: 1px solid #353535; }
  .search-results article .btn:hover {
    border: 1px solid #1e73be;
    background-color: #1e73be; }
  .search-results article a:not(.btn) {
    color: #353535; }
  .search-results article a:not(.btn):hover, .search-results article a:not(.btn):focus {
    color: #1e73be; }
  .search-results .page-item.active .page-link {
    color: #fcfcfc;
    background-color: #353535;
    border-color: #353535; }
  .search-results .page-link {
    color: #353535; }
  .search-results .page-link:hover {
    background-color: #353535;
    border-color: #353535;
    color: #fcfcfc; }

.single .wrapper .entry-title, .archive .wrapper .entry-title {
  color: ; }
  .single .wrapper .content-area a, .archive .wrapper .content-area a {
    color: #1e73be; }
  .single .wrapper .entry-meta a, .archive .wrapper .entry-meta a {
    color: #1e73be; }
  .single .wrapper .entry-meta a:hover, .archive .wrapper .entry-meta a:hover {
    color: #d1d1d1; }
  .single .wrapper button.wp-block-search__button.wp-element-button:before, .archive .wrapper button.wp-block-search__button.wp-element-button:before {
    color: #8224e3; }
  .single .wrapper button.wp-block-search__button.wp-element-button:hover:before, .archive .wrapper button.wp-block-search__button.wp-element-button:hover:before {
    color: #1e73be; }
  .single .wrapper input#wp-block-search__input-1, .archive .wrapper input#wp-block-search__input-1 {
    border: 1px solid rgba(53, 53, 53, 0.08); }
  .single .wrapper .post-navigation .nav-previous a, .archive .wrapper .post-navigation .nav-previous a, .single .wrapper .post-navigation .nav-next a, .archive .wrapper .post-navigation .nav-next a {
    background: #353535;
    color: #fcfcfc; }
  .single .wrapper .post-navigation .nav-previous a:hover, .archive .wrapper .post-navigation .nav-previous a:hover, .single .wrapper .post-navigation .nav-next a:hover, .archive .wrapper .post-navigation .nav-next a:hover {
    background: #1e73be;
    color: #fcfcfc;
    border-color: #1e73be; }
  .single .wrapper .tag-single a:hover, .archive .wrapper .tag-single a:hover {
    color: #1e73be; }
  .single .comments-area .comment-reply-title, .archive .comments-area .comment-reply-title {
    color: #1e73be; }
  .single #right-sidebar .widget.widget_categories ul li a, .archive #right-sidebar .widget.widget_categories ul li a {
    color: #353535; }
    .single #right-sidebar .widget.widget_categories ul li a::before, .archive #right-sidebar .widget.widget_categories ul li a::before {
      color: #8224e3; }
    .single #right-sidebar .widget.widget_categories ul li a:hover, .archive #right-sidebar .widget.widget_categories ul li a:hover {
      color: #1e73be; }
      .single #right-sidebar .widget.widget_categories ul li a:hover::before, .archive #right-sidebar .widget.widget_categories ul li a:hover::before {
        color: #1e73be; }
  .single #right-sidebar .widget.widget_recent_entries a.wp-block-latest-posts__post-title, .archive #right-sidebar .widget.widget_recent_entries a.wp-block-latest-posts__post-title {
    color: #353535; }
  .single #right-sidebar .widget.widget_recent_entries a.wp-block-latest-posts__post-title:hover, .archive #right-sidebar .widget.widget_recent_entries a.wp-block-latest-posts__post-title:hover {
    color: #1e73be; }
  .single #right-sidebar .widget.widget_recent_entries .wp-block-latest-posts__post-author, .archive #right-sidebar .widget.widget_recent_entries .wp-block-latest-posts__post-author {
    color: #9fa4af; }

.full-width-wysiwyg .editor-design h5 {
  color: #353535; }
  .full-width-wysiwyg .editor-design a:not(.btn) {
    color: #353535; }
  .full-width-wysiwyg .editor-design a:not(.btn):hover {
    color: #1e73be; }
  .full-width-wysiwyg .editor-design a.button {
    color: #fcfcfc; }
  .full-width-wysiwyg .editor-design a.button:hover {
    color: #fcfcfc; }

.default-content ul li:before {
  color: #1e73be; }

.default-content blockquote {
  color: #353535;
  border-left: 4px solid #353535; }

.default-content a:not(.btn) {
  color: #1e73be; }
  .default-content a:not(.btn):hover {
    color: #d1d1d1; }
  .default-content a.button {
    color: #fcfcfc; }
  .default-content a.button:hover {
    color: #fcfcfc; }
  .default-content h1, .default-content h3, .default-content h4, .default-content h5 {
    color: #353535; }

.infobox-section .info-box {
  background-color: #fcfcfc; }
  .infobox-section .info-box h5 {
    color: #eaeaea; }
  .infobox-section .info-box p {
    color: rgba(53, 53, 53, 0.8); }
  .infobox-section .info-box:hover {
    background-color: #8224e3; }

.infobox-section.resource-infobox .editor-design h2, .infobox-section.resource-infobox .editor-design p {
  color: #353535; }
  .checklist-infobox .info-box:hover .btn {
    background-color: #1e73be;
    color: #fcfcfc;
    border-color: #1e73be; }

.accordion-item .accordion-button {
  background-color: #1e73be;
  color: #fcfcfc; }

.accordion .accordion-item .accordion-body {
  background-color: rgba(53, 53, 53, 0.08); }

.content-topic-section .btn, .content-type-section .btn {
  color: #fcfcfc; }

.responsive-tabs .nav-tabs .nav-link {
  color: #353535; }
  .responsive-tabs .card-header {
    background-color: #1e73be; }
  .responsive-tabs .card-header a {
    color: #fcfcfc; }
  @media (min-width: 992px) {
  .responsive-tabs .nav-tabs .nav-item .nav-link.active {
    color: #1e73be;
    border-bottom: 2px solid #1e73be; } }

.counter-section .counter-wrap span {
  color: #353535; }

.logo-section-content .content {
  color: #fcfcfc; }
  .logo-section-content .content p {
    color: #fcfcfc; }

.call-to-action-section .full-width-wysiwyg .editor-design p {
  color: #353535; }
  .call-to-action-section .btn:hover {
    background-color: #fcfcfc;
    color: #1e73be;
    border-color: #fcfcfc; }

.user-avtar {
  background-color: ; }

.testimonial-left-content h3 {
  color: #353535; }

.testimonial-card .testimonial-card-inner {
  background: #fcfcfc; }
  .testimonial-card .testimonial-card-inner .testimonial-header {
    border-bottom: 1px solid ; }

.pricing-section .form-check.form-switch .form-check-input {
  background-color: #8224e3;
  border-color: #8224e3; }
  .pricing-section .form-check.form-switch .form-check-input:checked {
    background-color: #1e73be;
    border-color: #1e73be; }
  .pricing-section .card .card-header h5 {
    color: #eaeaea; }
  .pricing-section .card .card-header h2 small {
    color: #353535; }
  .pricing-section .card .card-body {
    border-top: 1px solid rgba(35, 35, 35, 0.2); }
  .pricing-section .card .card-body ul {
    color: #353535; }
  .testimonial-section .testimonial-bg {
    background-color: #1e73be; }
  .testimonial-section .testimonial-slider .testimonial-slide > div .client-text-wrap {
    color: #fcfcfc; }
  .testimonial-section .testimonial-slider .testimonial-slide > div .client-text-wrap span {
    color: rgba(252, 252, 252, 0.5); }
  .testimonial-section .testimonial-slider .testimonial-slide > div .client-text-wrap a {
    color: #fcfcfc; }

.testimonial-list .row .our-word p, .testimonial-list .row .our-word span {
  color: rgba(53, 53, 53, 0.8); }
  .testimonial-list .row .our-word .card-wrap .star-wrap {
    color: #8224e3; }
  .testimonial-list .row .our-word .card-wrap .client-details h5 {
    color: #353535; }

.single-testimonial .single-testimonial-section .img-wrp:before {
  background-color: #8224e3;
  color: #353535; }
  .single-testimonial .single-testimonial-section p, .single-testimonial .single-testimonial-section i {
    color: rgba(53, 53, 53, 0.8); }
  .single-testimonial .single-testimonial-section .rate i {
    color: #8224e3; }

.signup_modal .form-wrap {
  background: #1e73be; }
  .signup_modal .form-wrap .modal-header .btn-close {
    background: #fcfcfc; }
  .signup_modal .form-wrap h2 {
    color: #fcfcfc; }
  .signup_modal .form-wrap .gform_wrapper.gravity-theme .gfield-choice-input + label {
    color: #fcfcfc; }

.four-col-team-section .shape-color {
  background-color: #f2f2f2; }
  .four-col-team-section .team-member-wrap .member-details {
    color: #353535; }
  .four-col-team-section .team-member-wrap .member-details h4 {
    color: #353535; }
  .four-col-team-section .team-member-wrap .member-details h4:hover {
    color: #1e73be; }
  .four-col-team-section .team-member-wrap .member-details a {
    color: #1e73be; }
  .four-col-team-section .team-member-wrap .member-details a:hover {
    color: #353535; }

.pagination li .page-link {
  background: #fcfcfc;
  color: #1e73be; }

.blog-listing-section .filter-wrap h4 {
  color: #1e73be; }
  .blog-listing-section .filter-wrap span {
    background: #8224e3;
    color: #fcfcfc; }
  .blog-listing-section .filter-wrap ul li:hover {
    background: #8224e3;
    color: #fcfcfc; }
  .blog-listing-section .filter-wrap ul li.active {
    background: transparent;
    color: #1e73be; }

.newsletter-section .shape-color {
  background-color: #f2f2f2; }
  .newsletter-section .container {
    background: #1e73be; }
  .newsletter-section .container .editor-design h2, .newsletter-section .container .editor-design p {
    color: #fcfcfc; }

.teamlist-section .team-member-wrap .member-details h4 {
  color: #353535; }
  .teamlist-section .team-member-wrap .member-details h6, .teamlist-section .team-member-wrap .member-details p {
    color: #353535; }

.member-details-section h3 {
  color: #eaeaea; }
  .member-details-section ul.social-icons li a {
    color: #fcfcfc; }
  .member-details-section ul.social-icons li a:hover {
    color: #8224e3; }
  .member-details-section ul.social-icons li a i {
    fill: #fcfcfc; }
  .member-details-section ul.social-icons li a i:hover {
    fill: #353535; }
  .member-details-section ul.social-icons li a svg {
    fill: #fcfcfc; }
  .member-details-section ul.social-icons li a svg:hover {
    fill: #353535; }
  .member-details-section .address-wrpal a {
    color: #eaeaea; }
  .member-details-section .address-wrpal a:hover {
    color: #8224e3; }

.get-in-touch:before {
  background-color: rgba(53, 53, 53, 0.18); }
  .get-in-touch h2 + p {
    color: #353535; }
  .get-in-touch .location-wrap ul li i {
    color: #8224e3; }
  .get-in-touch .location-wrap ul li a {
    color: rgba(53, 53, 53, 0.8); }
  .get-in-touch .location-wrap ul li a:hover {
    color: #353535; }
  .get-in-touch .location-wrap ul li:hover {
    color: #353535; }
  .get-in-touch .location-wrap ul li:hover i {
    color: #353535; }
  .get-in-touch .gForm .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::-webkit-input-placeholder {
    color: #353535; }
    .get-in-touch .gForm .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container :-moz-placeholder {
      color: #353535; }
    .get-in-touch .gForm .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::-moz-placeholder {
      color: #353535; }
    .get-in-touch .gForm .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container :-ms-input-placeholder {
      color: #353535; }
  .inner-banner-section h2 {
    color: #fcfcfc; }
  .inner-banner-section p {
    color: rgba(252, 252, 252, 0.8); }

.gform_wrapper .gform_heading .gform_title {
  display: none; }
  .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="text"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="number"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="date"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="email"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="tel"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container textarea {
    border: 1px solid #c3cad9; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::placeholder {
      color: #353535, 0.4; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::-webkit-input-placeholder {
      color: #353535, 0.4; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container :-moz-placeholder {
      color: #353535, 0.4; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::-moz-placeholder {
      color: #353535, 0.4; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container :-ms-input-placeholder {
      color: #353535, 0.4; }
  .gform_wrapper form .gform_footer input:is([type="submit"], [type="button"], [type="reset"]) {
    color: #fcfcfc !important;
    background-color: #8224e3 !important; }
  .gform_wrapper form .gform_footer input:is([type="submit"], [type="button"], [type="reset"]):hover {
    background-color: #1e73be !important;
    color: #fcfcfc !important; }

.gform_confirmation_message {
  color: #353535; }

input:is([type="submit"], [type="button"], [type="reset"]) {
  color: #1e73be;
  background-color: #8224e3; }
  input:is([type="submit"], [type="button"], [type="reset"]):hover {
    background-color: #1e73be;
    color: #fcfcfc; }

.video-banner-section .btn-groups .play-video a h5 {
  color: #353535; }
  .video-banner-section .btn-groups .play-video a span {
    background: #8224e3;
    color: #353535; }
  .video-banner-section .btn-groups .play-video a:hover span {
    background: #1e73be;
    color: #fcfcfc; }
  .video-banner-section .btn-groups .play-video a:hover h5 {
    color: #1e73be; }
  .video-banner-section .video-img-wrap {
    background: transparent; }

.careers-two-col-section .default-content h5 {
  color: #8224e3; }

.careers-info-box-section h5 {
  color: #8224e3; }

.infobox-section.careers-open-position-section .info-box .btn {
  background-color: #d1d1d1;
  border-color: #d1d1d1;
  color: #eaeaea; }

.case-studies-two-col-section .case-study-details h3 {
  color: #eaeaea; }
  .case-studies-two-col-section .case-study-details .client-details .icon-wrap {
    background: #fcfcfc; }
  .case-studies-two-col-section .case-study-sidebar h3 {
    color: #eaeaea; }
  .case-studies-two-col-section .case-study-sidebar .case-study-sidebar-details h4, .case-studies-two-col-section .case-study-sidebar .case-study-sidebar-details h3 {
    color: #eaeaea; }
  .case-studies-two-col-section .case-study-sidebar .case-study-sidebar-details .client-details .client-content h5 {
    color: #353535; }

.case-study-card-section a.member-name h4, .case-study-card-section p, .case-study-card-section h5 {
  color: #353535; }
