.careers-info-box-section{
    .info-box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        box-shadow: 10px 10px 25px rgb(0 0 0 / 16%);
        margin-bottom: 20px;
        padding: 20px;
    }
}