.call-to-action-section {
    .full-width-wysiwyg .editor-design {
        p {
            color: $dark;
        }
    }
    .btn{
        &:hover{
            background-color:$white;
            color:$primary;
            border-color:$white;
        }
      }
}