.careers-two-col-section{
    .default-content{
        h5{
            color:$yellow;
        }
    }
}

.careers-info-box-section{    
    h5{
        color:$yellow;
    }
}

.infobox-section.careers-open-position-section{
     .info-box {    
        .btn{
            background-color:$neutral-blue;
            border-color:$neutral-blue;   
            color:$neutral-light-blue;     
        }
    }
}