//Gravity forms styles

.gform_wrapper {
  //form heading
  .gform_heading {
    .gform_title {
      display: none;
    }
  }

  form {
    //form body
    .gform_body {
      .gform_fields {
        .gfield {

          //styles for form inputs
          .ginput_container {
            input[type="text"],
            input[type="number"],
            input[type="date"],
            input[type="email"],
            input[type="tel"],
            textarea {
              border: 1px solid #c3cad9;
            }

            ::placeholder {
              color: ($dark, 0.4);
            }

            ::-webkit-input-placeholder {
              color: ($dark, 0.4);
            }

            :-moz-placeholder {
              /* Firefox 18- */
              color: ($dark, 0.4);
            }

            ::-moz-placeholder {
              /* Firefox 19+ */
              color: ($dark, 0.4);
            }

            :-ms-input-placeholder {
              color: ($dark, 0.4);
            }
          }
        }
      }
    }

    //form footer
    .gform_footer {
      input:is([type="submit"], [type="button"], [type="reset"]) {
        color: $white !important;
        background-color: $yellow !important;
        &:hover {
          background-color: $primary !important;
          color: $white !important;
        }
      }
    }
  }
}

.gform_confirmation_message {
  color: $dark;
}

input:is([type="submit"], [type="button"], [type="reset"]) {
  color: $primary;
  background-color: $yellow;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}
